<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" >Strona główna</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Zaloguj (todo)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Zarejestruj (todo)</a>
    </li>
  </ul>
</nav>

<div style="height:100px; width:100%; clear:both;"></div>
<h1 class="display-3">Wybrane dla Ciebie</h1>
<div class="card-group">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{products[0].photo}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{products[0].name}}</h4>
      <p class="card-text">{{products[0].price}}</p>
      <a href="#" class="btn btn-primary">Przejdź</a>
    </div>
  </div>

  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{products[1].photo}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{products[1].name}}</h4>
      <p class="card-text">{{products[1].price}}</p>
      <a href="#" class="btn btn-primary">Przejdź</a>
    </div>
  </div>

  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{products[2].photo}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{products[2].name}}</h4>
      <p class="card-text">{{products[2].price}}</p>
      <a href="#" class="btn btn-primary">Przejdź</a>
    </div>
  </div>
</div>

<div style="height:100px; width:100%; clear:both;"></div>
<h1 class="display-3">Promocje</h1>
<div class="card-group">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{products[0].photo}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{products[0].name}}</h4>
      <p class="card-text">{{products[0].price}}</p>
      <a href="#" class="btn btn-primary">Przejdź</a>
    </div>
  </div>

  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{products[1].photo}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{products[1].name}}</h4>
      <p class="card-text">{{products[1].price}}</p>
      <a href="#" class="btn btn-primary">Przejdź</a>
    </div>
  </div>

  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{products[2].photo}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{products[2].name}}</h4>
      <p class="card-text">{{products[2].price}}</p>
      <a href="#" class="btn btn-primary">Przejdź</a>
    </div>
  </div>
</div>
